@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic');

:root {
  --primaryColor: deeppink;
  --dkBg: #303947;
  --itemBg: #6788a7;
  --itemBgOdd: darken(#6788a7,15%);
  --BG: #f5f1ea;
  --textColor: #332f25;
  --BG1: #beb7a4;
  --BG2: #e2d8cf;
  background-color: white;
  min-width: 470px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

#header-container {
  margin: auto;
  margin-top: 10px;
  max-width: 1024px;
  height: 80px;
}
#header-container img {
  width: 80px;
  float: left;
}
#header-container h1 {
  font-family: 'Merriweather', serif;
  font-size: xx-large;
  text-align: left;
  margin-left: 10px;
  padding-top: 15px;
  font-family: 'Dancing Script', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  width: 270px;
  height: 80px;
  float: left;
}
nav {
  padding-top: 20px;
  font-size: 20px;
}
.el-nav {
  float: right;
  flex: auto;
  text-align: center;
  padding: 7px;
  width: 140px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid var(--BG1);
  color: var(--textColor)
}
.el-nav:hover {
  border: 1px solid var(--textColor);
}
@media screen and (max-width: 700px) {
  nav {
    position: absolute;
    justify-self: center;
    right: 40px;
    font-size: 12px;
  }
  .el-nav {
    float: right;
    flex: auto;
    text-align: center;
    padding: 10px;
    width: 117px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid var(--BG1);
    color: var(--textColor)
  }
  .el-nav1 {
    position: absolute;
    top: -4px;
    left: -110px;
  }
  .el-nav2 {
    position: absolute;
    top: 37px;
    left: -110px;
  }
}





#container-content {
  max-width: 1024px;
  width: 90%;
  margin: auto;
}

.container-content {
  max-width: 1024px;
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

#content-wrapper {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 32.5%);  /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 3 rows  */
  grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}
@media screen and (max-width: 992px) {
  #content-wrapper {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 50%);  /* 3 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows  */
    grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}
@media screen and (max-width: 600px) {
  #content-wrapper {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(1, 100%);  /* 3 columns */
    grid-template-rows: repeat(6, auto); /* 3 rows  */
    grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}

.data-field {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(50 50 50 / 40%);
    text-overflow: ellipsis;
    color: #3b3a3a;
    text-align: center;
    /* text-decoration: none; */
    font-weight: 700;
    font-size: 1.1rem;
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.data-field, a:link, a:visited {
  text-decoration: none;
}

.data-field-name {
  background-color: white;
  height: 12%;
  text-align: center;
  padding-top: .25em;
  font-size: 15px;
  font-weight: bold;
}
.data-field-subname {
  background-color: white;
  height: 12%;
  text-align: center;
  padding-top: .25em;
  font-size: 10px;
  font-weight: lighter;
}

@media screen and (max-width: 992px) {
  .data-field-name {
    height: 10%;
  }
}
@media screen and (max-width: 600px) {
  .data-field-name {
    height: 7%;
  }
}

/* .btn {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 10%;
  background-color: white;
  color: var(--textColor);
  text-align: center;
  cursor: pointer;
  padding-top: .7em;
} */

.finding-form{
  width: 100%;
  height: 40px;
  position: relative;
  top: 2em;
}
.container-form {
  margin: auto;
}
.finding-form input {
  display: block;
  font-size: xx-large;
  text-align: center;
  border: 1px solid var(--BG1);
}
.input-find {
  width: 69.5%;
  position: relative;
  float: left;
}
.input-find:hover {
  border: 1px solid var(--textColor);
}
.input-submit {
  width: 30%;
  background-color: white;
  float: right;
  margin-left: 2px;
  font-size: 12px;
}
.input-submit:hover {
  border: 1px solid var(--textColor);
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .finding-form{
    width: 102%;

    position: relative;
    top: 2em;
  }
  .container-form {
    margin: auto;
  }
  .finding-form input {
    display: block;
    font-size: xx-large;
    text-align: center;
    border: 1px solid var(--BG1);
  }
  .input-find {
    position: relative;
    float: left;
  }
  .input-find {
    width: 69.5%;
    position: relative;
    float: left;
  }
  .input-submit {
    width: 30%;
    background-color: white;
    float: right;
    margin-left: 2px;
  }
}
@media screen and (max-width: 600px) {
  .finding-form{
    width: 100%;
    position: relative;
    top: 2em;
  }
  .container-form {
    margin: auto;
  }
  .finding-form input {
    display: block;
    font-size: xx-large;
    text-align: center;
    border: 1px solid var(--BG1);
  }
  .input-find {
    float: left;
  }
  .input-find {
    width: 69.5%;
    position: relative;
    float: left;
  }
  .input-submit {
    width: 30%;
    background-color: white;
    float: right;
    margin-left: 2px;
  }
}


#container-footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;   /* Height of the footer */
  background:var(--dkBg);
}

#container-footer p {
  color: white;
  font-size: x-large;
  text-align: center;
  margin-top: 2em;
}

.demo {
  position: relative;
  top: 2em;
  width: 100%;
  margin: auto;
}
.demo1 {
  text-align: center;
  margin: auto;
}
.demo a {
  color: var(--dkBg);
  padding: 5px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--dkBg);
  font-size: 18px;
}
.demo a.active {
  background-color: orange;
  color: white;
  border-radius: 5px;
}
.demo a:hover:not(.active) {
  color: white;
  background-color: var(--dkBg);
}
.demo a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.demo a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  z-index: 100;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#container-icons {
  position: relative;
  display: flex;
  flex-direction: row;
}

.container-icon {
  float: right;
  width: 33.33%;
  height: 60px;
  background-color: white;
  /* border-bottom: #332f25;
  border-bottom: 1px solid var(--dkBg); */
}

.material-icons {
  margin-top: .25em;
  color: var(--textColor);
}




.overview {
  display: block;
  width: 70%;
}
.overview h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: var(--BG1);
  font-size: 40px;
}
.overview h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: var(--BG1);
  font-size: 30px;
  margin-bottom: 1em;
}
.overview img {
  width: 100%;
  border-radius: 10px;
}
.overview .container-main {
  height: auto;
  position:  relative;
  overflow: hidden;

}
.overview .container-ingredient {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 2em;
  font-size: 16px;
}
.overview .container-ingredient th {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid var(--BG1);
}
.overview .container-ingredient .th1 {
  padding-left: 1em;
  text-align: left;
  width: 80%;
}
.overview .container-ingredient .th2 {
  text-align: right;
  padding-right: 1em;
  width: 20%;
}
.overview .container-ingredient .th3 {
  text-align: left;
  width: 20%;
}
.overview .container-main .left {
  width: 49.99%;
  float: left;
  height: auto;
}
.overview .container-main .right {
  width: 49.99%;
  float: right;
  height: auto;
  padding-left: 3em;
}
.overview .container-main .right p li {
  font-size: larger;
  margin-bottom: 1em;
}
.overview .container-main .btn {
  width: 130px;
  height: 50px;
  margin: auto;
}
.overview .container-main button {
  width: 130px;
  height: 50px;
  margin: auto;
  margin-top: 1em;
  border: 1px solid white;
  background-color: var(--BG1);
  color: white;
  font-size: 20px;
  
}
.overview .container-main button:hover {
  width: 130px;
  height: 50px;
  margin: auto;
  margin-top: 1em;
  border: 1px solid var(--textColor);
  background-color: white;
  color: var(--textColor);
  font-size: 20px;
}
.overview .container-img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.overview .container-icons {
  display: block;
  margin: auto;
  width: 100%;
  height: 70px;
}
.overview .container-icon {
  display: block;
  margin: auto;
  width: 33.33%;
  border: none;
}
.overview .container-icon i {
  margin-left: 43%;
}
.overview .container-icon div {
  text-align: center;
  font-size: xx-large;
}

@media screen and (max-width: 992px) {
  .overview .container-main {
    overflow: visible;
    
  }
  .overview .container-main .left {
    width: 100%;
    float: left;
  }
  .overview .container-main .right {
    padding-top: 2em;
    width: 100%;
    float: right;
    padding-left: 3em;
  }
}



/* 
  *****************************************
  Form style - add new recipe page
  *****************************************
*/

.container-content-add-form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;

  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 15px;
  margin: 40px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

#contact h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 0px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 5px;
}
#contact input[type="number"] {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  min-width: 100px;
  font-size: large;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 5px;
  float: left;
}



#contact input[type="text"]:hover,
#contact input[type="number"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact input[type="radio"] {
  width: 25px;
  height: 20px;
  margin-top: 5px;
  margin-left: 30px;
  
}
#contact label {
  position: relative;
  top: -3px;
  font-size: larger;
  margin-left: 2px;
  padding: 5px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--BG1);
  color: var(--textColor);
  margin: 0 0 7px;
  padding: 7px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--textColor);
  color: var(--BG2);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid black;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#container-material-input {
  align-content: space-around;
}

#material-input {
  display: inline-flex;
  width: auto;
  color: var(--textColor);
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  border: 1px solid var(--BG1);
  margin: 2px;
}






.field {
  padding: .5em;
  display: inline-flex;
  width: 33.33%;
  height: 41px;
  overflow: hidden;
  margin: 0;
}
.field .ingredient-name {
  width: 500px;
  text-align: end;
  padding-top: .4em;
  padding-right: .5em;
}
.field .ingredient-amount {
  height: 35px;
}
.field .ingredient-type {
  height: 35px;
  width: 100px;
  font-size: larger;
  padding: 5px;
  margin-left: 5px;
  border-radius: 0%;
  border: 1px solid #bbb;
}
.field .material-icons {
  position: relative;
  top: -1px;
  left: 2px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .field {
    padding: .5em;
    display: inline-flex;
    width: 50%;
    height: auto;
    overflow: hidden;
  }
  .field .ingredient-name {
    width: 500px;
    text-align: end;
    padding-top: .4em;
    padding-right: .5em;
  }
  .field .ingredient-amount {
    height: 40px;
  }
  .field .ingredient-type {
    height: 40px;
    width: 100px;
    font-size: larger;
    padding: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 700px) {
  .field {
    padding: .5em;
    display: inline-flex;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .field .ingredient-name {
    width: 500px;
    text-align: end;
    padding-top: .4em;
    padding-right: .5em;
  }
  .field .ingredient-amount {
    height: 40px;
  }
  .field .ingredient-type {
    height: 40px;
    width: 100px;
    font-size: larger;
    padding: 5px;
    margin-left: 5px;
  }
}




.container-fav-recipes {
  position: fixed;
  top: 165px;
  left: 0;
  
  width: 19%;
  height: auto;
  padding-left: 1em;
  font-family: 'Merriweather', serif;
}
.container-top10-element {
  display: inline-flex;
  margin-bottom: 10px;
}
.container-fav-recipes h1 {
  text-align: center;
  padding-bottom: .5em;
  color: var(--textColor);
}
.container-fav-recipes img {
  width: 130px;
}
.container-top10-description {
  width: 70%;
  padding: .5em;
  overflow: hidden;
}
.top10-description {
  color: var(--textColor);
}
.like {
  float: left;
}
.like-cnt {
  padding-top: .75em;
  padding-left: 2.5em;
}

@media screen and (max-width: 1650px) {
  .container-fav-recipes {
    position: fixed;
    top: -500px;
    left: 0;
    
    width: 19%;
    height: auto;
    padding-left: 1em;
    background-color: yellow;
  }
}


