@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic');

:root {
  --primaryColor: deeppink;
  --dkBg: #303947;
  --itemBg: #6788a7;
  --itemBgOdd: darken(#6788a7,15%);
  --BG: #f5f1ea;
  --textColor: #332f25;
  --BG1: #beb7a4;
  --BG2: #e2d8cf;
  background-color: white;
  min-width: 500px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

#main-title {
  
}

h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: var(--BG1);
  font-size: 50px;
}

nav {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 10px;
  background: white;
  margin-top: 1em;
  padding-bottom: 2em;
}

.el-nav {
  margin-top: -10px;
  width: 150px;
  display: inline-block;
  font-size: x-large;
  text-align: center;
  padding-top: .5em;
  color: var(--textColor);
  text-decoration: none;
  padding: 10px;
  border: 2px solid whitesmoke;
}

.el-nav:hover {
  color: var(--textColor);
  background-color: white;
  border: 1px solid var(--textColor)
}

#container-content {
  max-width: 1024px;
  width: 90%;
  margin: auto;
}

.container-content {
  max-width: 1024px;
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

#content-wrapper {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 32.5%);  /* 3 columns */
  grid-template-rows: repeat(2, 330px); /* 3 rows  */
  grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}
@media screen and (max-width: 992px) {
  #content-wrapper {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 50%);  /* 3 columns */
    grid-template-rows: repeat(3, 400px); /* 3 rows  */
    grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}
@media screen and (max-width: 600px) {
  #content-wrapper {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(1, 100%);  /* 3 columns */
    grid-template-rows: repeat(6, 450px); /* 3 rows  */
    grid-gap: 1em; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}

.data-field {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 10%);
    text-overflow: ellipsis;
    color: #3b3a3a;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.data-field-name {
  background-color: white;
  height: 12%;
  text-align: center;
  padding-top: .5em;
  font-size: 15px;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .data-field-name {
    height: 10%;
  }
}
@media screen and (max-width: 600px) {
  .data-field-name {
    height: 7%;
  }
}

.btn {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 10%;
  background-color: white;
  color: var(--textColor);
  text-align: center;
  cursor: pointer;
  padding-top: .7em;

}

.finding-form{
  width: 100%;

  position: relative;
  top: 2em;
}
.container-form {
  margin: auto;
}
.finding-form input {
  width: 50%;
  display: block;
  font-size: xx-large;
  text-align: center;
  border: 1px solid var(--textColor);
}
.input-find {
  position: relative;
  float: left;
}
@media screen and (max-width: 992px) {
  .finding-form{
    width: 102%;

    position: relative;
    top: 2em;
  }
  .container-form {
    margin: auto;
  }
  .finding-form input {
    width: 50%;
    display: block;
    font-size: xx-large;
    text-align: center;
    border: 1px solid var(--textColor);
  }
  .input-find {
    position: relative;
    float: left;
  }
}
@media screen and (max-width: 600px) {
  .finding-form{
    width: 100%;
    position: relative;
    top: 2em;
  }
  .container-form {
    margin: auto;
  }
  .finding-form input {
    width: 50%;
    display: block;
    font-size: xx-large;
    text-align: center;
    border: 1px solid var(--textColor);
  }
  .input-find {
    float: left;
  }
}


#container-footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;   /* Height of the footer */
  background:var(--dkBg);
}

#container-footer p {
  color: white;
  font-size: x-large;
  text-align: center;
  margin-top: 2em;
}

.demo {
  position: relative;
  top: 2em;
  width: 100%;
  margin: auto;
}
.demo1 {
  text-align: center;
  margin: auto;
}
.demo a {
  color: var(--dkBg);
  padding: 5px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--dkBg);
  font-size: 18px;
}
.demo a.active {
  background-color: orange;
  color: white;
  border-radius: 5px;
}
.demo a:hover:not(.active) {
  color: white;
  background-color: var(--dkBg);
}
.demo a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.demo a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  z-index: 100;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#container-icons {
  position: relative;
  display: flex;
  flex-direction: row;
}

.container-icon {
  float: right;
  width: 33.33%;
  height: 60px;
  background-color: white;
  border-bottom: #332f25;
  border-bottom: 1px solid var(--dkBg);
}

.material-icons {
  margin-top: .25em;
  color: var(--textColor);
}


.overview {
  display: block;
  width: 70%;
}
.overview h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: var(--BG1);
  font-size: 40px;

}
.overview img {
  width: 100%;
  border-radius: 10px;
}
.overview .container-main {
  display: block;
}
.overview .container-img {
  display: block;
  margin: auto;
  width: 50%;
}
.overview .container-icons {
  display: block;
  margin: auto;
  width: 50%;
  height: 70px;
}
.overview .container-icon {
  display: block;
  margin: auto;
  width: 33.33%;
  border: none;
}
.overview .container-icon i {
  margin-left: 43%;
}
.overview .container-icon div {
  text-align: center;
  font-size: xx-large;
}

/* 
  *****************************************
  Form style - add new recipe page
  *****************************************
*/

.container-content-add-form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;

  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 15px;
  margin: 40px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

#contact h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 5px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="number"] {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  min-width: 100px;
  font-size: large;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  float: left;
}



#contact input[type="text"]:hover,
#contact input[type="number"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}



#contact input[type="radio"] {
  width: 25px;
  height: 25px;
  margin-top: 7px;
  margin-left: 30px;
  
}
#contact label {
  position: relative;
  top: -6px;
  font-size: larger;
  margin-left: 2px;
  padding: 5px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--BG1);
  color: var(--textColor);
  margin: 0 0 7px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--textColor);
  color: var(--BG2);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid black;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
